<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rinno.simaski.pantallasentel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/myTema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HuaweiMateOchoActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".HuaweiPNueveActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".IphoneCuatroSeActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".IphoneSieteActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".IphoneSietePlusActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".LgGCincoActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".SamsungSSieteActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".SamsungSSieteEdgeActivity"
            android:theme="@style/myTema">
        </activity>
        <activity
            android:name=".XperiaXActivity"
            android:theme="@style/myTema">
        </activity>
    </application>

</manifest>